<nav class="navbar">
  <h2 routerLink="/home">
    <span class="arrow arrow-left"></span>
  </h2>
</nav>
<div class="options-container">
  <span class="welcome-text"> Escoge un tiempo de meditación y dale play</span>

  <div class="inner-wrapper">
    <div class="timer">
      <button [class.active] = "selection == 5" (click)="selection = 5">5m</button>
      <button [class.active] = "selection == 10"  (click)="selection = 10">10m</button>
      <button [class.active] = "selection == 15"  (click)="selection = 15">15m</button>
    </div>
    <div >
      <a class="play-btn" (click)="playAudio()"></a>
    </div>


  </div>

</div>
