<h1 mat-dialog-title style="color: rgba(255, 0, 128, 0.8)">Princesa Leia Webapp</h1>
<div mat-dialog-content style="height: 100%; max-height: 200vh; margin: 0">

  Ésta web app fue creada con mucho amor para ti, Katia.
  Muchas gracias por tanto apoyo, tanto cariño que me has brindado.
  <br>

  No tengo palabras para agradecerte así que te hice éste pequeño detalle y buscaré cada semana actualizar algunas cosas para que siempre tengamos algo diferente para ver, ojalá esto dure para siempre.
  <br>
  <br>
  Te amo <span style='font-size:25px;'>🥰</span>
  <br>

  </div>

<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Aceptar</button>
</div>
