$pri: rgba(255, 0, 128, 0.8);
$sec: #fffffe;
$dark-pri: rgba(255, 0, 128, 0.8);
* {
  box-sizing: border-radius;
  font-family: 'Rubik', sans-serif;
}


.container {
  background-color: #dddddd;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.button__arrow--right {
  border-right: 1px solid rgba(255, 0, 128, 0.8);
  border-top: 1px solid rgba(255, 0, 128, 0.8);
  transform: translateX(-25%) rotate(45deg);
}


.button__arrow--down{
  border-right: 1px solid rgba(255, 0, 128, 0.8);
  border-top: 1px solid rgba(255, 0, 128, 0.8);
  transform: translateX(-25%) rotate(135deg);
}


.button__arrow {
  background-color: transparent;
  height: 12px;
  width: 12px;
  align-self: center;
  font-size: 15px;
  font-weight: bold;
  animation: icon 1.5s infinite forwards;
}

.items {
  background: $sec;
  box-shadow: 0 3px 6px rgba(black,0.16), 0 3px 6px rgba(black,0.23);
  border-top: 10px solid $dark-pri;
  width: 80%;
}

.items-head p{
  padding: 5px 20px;
  margin: 10px;
  color: $dark-pri;
  font-weight: bold;
  font-size: 20px;
}

.items-head hr {
  width: 20%;
  margin: 0px 30px;
  border: 1px solid $dark-pri;
}

.items-body {
  padding: 10px;
  margin: 10px;
  display: grid;
  grid-gap: 10px;
}

.items-body-content {
  padding: 10px;
  padding-right: 0px;
  display: grid;
  grid-template-columns: 10fr 1fr;
  font-size: 13px;
  grid-gap: 10px;
  border: 1px solid transparent;
  cursor: pointer;

}

.items-body-content:hover {
  border-radius: 15px;
  border: 1px solid $dark-pri;
}

@keyframes icon {
  0%,100%{
    transform: translate(0px) rotate(45deg);
  }
  50% {
    transform: translate(3px) rotate(45deg);
  }
}

.options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100%;
}

.navbar{
  width:100%;
  position: fixed;
  top:0;
  padding:15px 0;
  display:flex;
  z-index: 6;
  align-items: center;
  h2{
    color:white;
    margin:0;
    padding: 5px 10px;
    font-weight: bolder;
    font-size:15px;
    margin-left:15px;
    border-radius: 2px;
    text-shadow: 0 0 15px rgba(255, 0, 128, 0.8);;
    &:hover{
      color:rgba(255, 0, 128, 0.8);
    }
  }
}
.arrow {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-top: 2px solid white;
  border-right: 2px solid white;
}

.arrow-left {
  transform: rotate(-135deg);
}

.music-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.artist-song-container{
  display: flex;
  flex-direction: column;
  color:rgba(255, 0, 128, 0.8);
}
